
#nav li.contact {padding:0 0 0 7px;}

.individual-programs {
min-height:170px;
}


#nav {
padding:18px 5px;
width:967px;
height:15px;
background:black;}

#footer p.copywright {
margin:10px 0 0px 0;
clear:both;
width:950px;
}

#sidebar {
	margin:-3px 0 0 0;}